{{define "body" }}
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <p>{{.message}}</p>
    </body>
</html>

{{end}}